<!-- begin page -->
<div class="page page--home" data-page="Гарантия">
	<section class="firstscreen" style="background-image: url('img/general/firstscreen--garanty.jpg');">
		<div class="container">
			<div class="page__title">
					Гарантия проверенная бездорожьем россии
			</div>
		</div>
	</section>
	<section class="section bg--gray">
		<div class="container">
			<div class="section__title">
				Почему ставят <span class="poliuretan">русский полиуретан</span> и как долго прослужит?
			</div>
			<div class="section__desc">
				Участники ралли рейдов "Холмы России" на автомобилях Lada 2108, Lada 2121 используют автозапчасти РУССКИЙ ПОЛИУРЕТАН   . Как говорят владельцы гоночных машин, резиновые автозапчасти не выдерживают и 10 километров на бездорожье, а устанавливать дорогие автокомпоненты на отечественные машины не имеет смысла. На бездорожье может выйти из строя все, если не уловить грань между скоростью и качеством дорожного покрытия. Условия испытаний сайлетблоков и втулок подвески, патрубков системы охлаждения и прокладок уплотнения двигателя Товарной марки РУССКИЙ ПОЛИУРЕТАН    смотрите на видео одного из этапов гонок.
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="video js-video">
				<video>
					<source type="video/mp4" src="img/general/video/insta-drawing.mp4">
				</video>
				<div class="video__btn">
					<img src="img/general/video-bg.png" alt="play video">
				</div>
			</div>
		</div>
	</section>
</div><!-- end page -->
