<!-- begin page--home -->
<div class="page page--home" data-page="Главная">

	<section class="firstscreen" style="background-image: url('img/general/bg/firstscreen--production.jpg');">
		<div class="container">
			<div class="page__text">
				<div class="page__title">
					Автозапчасти из полиуретана и силикона от производителя
				</div>
				<div class="page__desc">
					Рентабельность на оптовом рынке свыше 30% Изготавливается из термопластичного полиуретана Российского производства компании "РТ-Эпафлекс"
				</div>
				<button class="btn btn-accent">Заказать прайс</button>
			</div>
		</div>
	</section>

	<section class="section bg--gray">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-12">
					<div class="section__title">
						Долговечность элементов подвески
					</div>
					<div class="section__desc">
						Отличительной особенностью отбойников РУССКИЙ ПОЛИУРЕТАН &trade; является яркий желтый цвет и доступная цена. Изготавливаются изделия из материала "Эпалан" твердостью по Шору, 55-60 шкала А. Данный материал соответствует нормативам циклической долговечности элементов подвески, показывает хорошие характеристики сжатия и ударной энергоемкости. Дополнением к комплектам отбойников идут защитные пыльники стоек амортизатора. По желанию заказчика пыльники могут быть изготовлены из РТИ, силиконовых смесей, ПВХ (пластиковые защитные кожухи).
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row row--center">
				<div class="col-6 col-xs-12">
					<img src="img/general/home/1.jpg" alt="Отбойники передних стоек с пыльниками LADA 2114
					">
				</div>
				<div class="col-6 col-xs-12">
					<div class="section__title">
						Отбойники передних стоек с пыльниками LADA 2114
					</div>
					<div class="section__desc">
						<ul>
							<li>Применяемость для автомобилей</li>
							<li>LADA 2108-21099, 2113-2115 Samara</li>
							<li>Art: 2108-2912816 /1118-2902814</li>
							<li>Материал: термопластичный полиуретан</li>
							<li>Колличество деталей: 4 шт</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section bg--gray">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-12">
					<div class="section__title">
						Эффект пневмоподвески
					</div>
					<div class="section__desc">
						Благодаря автобафферам амортизаторы автомобиля реже пробиваются, срок службы увеличивается. Удобнее парковаться у бордюров. Клиренс возрастает примерно на 2 см. При проезде лежачих полицейских и при резких торможениях автомобиль меньше "клюёт" передом.
					</div>
					<div class="section__desc">
						Уменьшаются крены и раскачка автомобиля, снижается валкость на поворотах. При использовании на задних пружинах увеличивается грузоподъемность автомобиля.
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row row--center">
				<div class="col-6 col-xs-12">
					<img src="img/general/home/2.jpg" alt="Отбойники передних стоек с пыльниками LADA 2110">
				</div>
				<div class="col-6 col-xs-12">
					<div class="section__title">
					Отбойники передних стоек с пыльниками LADA 2110
					</div>
					<div class="section__desc mb-30">
						<ul>
							<li>Применяемость для автомобилей</li>
							<li>LADA 2110-2112, 2170 Priora</li>
							<li>Art: 2110-2902816 / 2110-2905681</li>
							<li>Материал: термопластичный полиуретан</li>
							<li>Колличество деталей: 4 шт</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section bg--gray">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-12">
					<div class="section__title">
						Выдерживают критические температуры
					</div>
					<div class="section__desc">
						Силиконовые каучуки сохраняют свои свойства даже при критически высоких температурах, что кардинально отличает их от оригинальных резиновых. Для проверки качества мы тестируем их в нестандартных экстремальных условиях, которые возникают при потере масла или охлаждающей жидкости в узлах автомобиля.
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row row--center">
				<div class="col-6 col-xs-12">
					<img src="img/general/home/3.jpg" alt="Автобаффер">
				</div>
				<div class="col-6 col-xs-12">
					<div class="section__title">
					Автобаффер
					</div>
					<div class="section__desc mb-30">
						<ul>
							<li>Диаметр: 100-120 мм</li>
							<li>Применяемость для автомобилей</li>
							<li>LADA 2108-21099, 2110-2112, Kalina, Priora, Granta, Vesta,X-Ray, Largus, иномарки</li>
							<li>Art: 2108-2910000</li>
						</ul>
						<div class="devider"></div>
						<ul>
							<li>Диаметр: 120-140 мм</li>
							<li>Применяемость для автомобилей</li>
							<li>LADA 2101-21073, 2121 Niva, 2123 Niva Chevrolet, иномарки</li>
							<li>Art: 2101-2910000</li>
						</ul>
					</div>
					<div class="section__desc">
					Материал: термопластичный полиуретан <br>
					Колличество деталей: 2 шт
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row row--center">
				<div class="col-6 col-xs-12">
					<img src="img/general/home/4.jpg" alt="Прокладка клапанной крышки LADA 2114">
				</div>
				<div class="col-6 col-xs-12">
					<div class="section__title">
						Прокладка клапанной крышки LADA 2114
					</div>
					<div class="section__desc mb-30">
						<ul>
							<li>Применяемость для автомобилей</li>
							<li>LADA 2108-21099, 2110-2112, Samara, Kalina, Priora, Granta, Largus</li>
							<li>Art: 2108-1003270 / 2108-1003277</li>
							<li>Материал: силикон</li>
							<li>Количество деталей: 3 шт</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

</div><!-- end page--home -->
