<!-- begin page--production -->
<div class="page page--production" data-page="Производство">
	<section class="firstscreen" style="background-image: url('img/general/bg/firstscreen--production.jpg');">
		<div class="container">
			<div class="page__text">
				<div class="page__title">
					Технология производства
				</div>
				<div class="page__desc">
					Способ производства, материал и режимы изготовления подбираются для каждой группы товаров индивидуально
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-12">
					<div class="section__title">
						Литье под давлением
					</div>
					<div class="section__desc">
						Это один из основных способов изготовления деталей РУССКИЙ ПОЛИУРЕТАН &trade; из термопластичного полиуретана и термоэластопласта.
					</div>
					<div class="list">
						<div class="list__title">
							Технология литья идеально соответствует массовому производству изделий сложной формы. Данная технология производства используется для изготовления:
						</div>
						<ul>
							<li>втулок</li>
							<li>пыльников</li>
							<li>брызговиков</li>
							<li>ремонтных комплектов узлов автомобиля</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="section section--img" style="background-image: url(img/general/bg/production-1.jpg);"></div>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-12">
					<div class="section__title">
						Дозирующие машины для литьевого полиуретана
					</div>
					<div class="section__desc">
						Для изготовления деталей с особыми требованиями используется литьевой 3-х компонентный полиуретан. Изготовление деталей из этого полимера производится на дозирующих машинах с использованием карусельной подачи литьевых форм.
					</div>
					<div class="list">
						<div class="list__title">
							Данный способ производства наиболее подходит для изготовления:
						</div>
						<ul>
							<li>сайлентблоков</li>
							<li>втулочных изделий с арматурой</li>
							<li>подушек опор</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="section section--img" style="background-image: url(img/general/bg/production-2.jpg);"></div>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-12">
					<div class="section__title">
						Вулканизационные пресса
					</div>
					<div class="list">
						<div class="list__title">
							Изделия из силиконовых резин РУССКИЙ ПОЛИУРЕТАН &trade; производятся на вулканизационных прессах, с длиной плиты нагрева от 0,4 м до 1 м. Данным способом производятся уплотнительные прокладки:
						</div>
						<ul>
							<li>клапанной крышки</li>
							<li>поддона картера</li>
							<li>ресивера коллектора</li>
							<li>модуля зажигания</li>
							<li>свечных колодцев</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="section section--img" style="background-image: url(img/general/bg/production-3.jpg);"></div>

	<section class="section bg--gray">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-12">
					<div class="section__title">
						Экструзия
					</div>
					<div class="list">
						<div class="list__title">
							Способ изготовления изделий из полимерных материалов путем продавливания вязкого расплава материала или густой пасты через формующее отверстие. Экструзионным способом изготавливаются:
						</div>
						<ul>
							<li>шланги тосольные</li>
							<li>шланги маслобензостойкие</li>
							<li>шланги экономайзера</li>
							<li>патрубки печки</li>
							<li>патрубки радиатора</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="section section--img" style="background-image: url(img/general/bg/production-4.jpg);"></div>

</div><!-- end page--production -->
