<!-- begin page-controls -->
 <div class="page-controls">
   <button class="page-controls__arrow page-controls__arrow--prev js-page-controls-arrow--prev">
		<i class="fal fa-angle-left page-controls__ico"></i>
	   <span>Гарантия</span>
	</button>
   <button class="page-controls__arrow page-controls__arrow--next js-page-controls-arrow--next">
		<i class="fal fa-angle-right page-controls__ico"></i>
	   <span>Производство</span>
	</button>
</div><!-- end page-controls -->

<!-- begin footer -->
<footer class="footer">
	<div class="container">
		<!-- begin logo -->
		<div class="logo footer__logo">
			<img class="logo__icon" src="img/general/logo.svg" alt="logo">
		</div><!-- end logo -->

		<div class="footer__info">
			Условия сотрудничества <br>
			по номеру: <a href="tel:+79962010000">+7 (996) 201-00-00</a>
		</div>

		<button class="btn btn-dark">Заказать прайс</button>


		<div class="go-top js-go-top"><i class="fal fa-angle-up"></i></div>
	</div>
</footer>
