<!-- begin popups -->
 <div class="popups">
	<!-- begin enter -->
	<div class="modal fade modal-enter" id="modal-enter">
		<div class="modal-dialog modal-dialog--sm">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Заказать прайс</h5>
					<button class="modal-close" data-dismiss="modal" aria-label="Close">
					</button>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button class="btn btn-link" data-dismiss="modal" aria-label="Close">Отмена</button>
					<button class="btn btn-default">Оценить</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end enter -->
</div><!-- end popups -->
