[tooltip] {
    position: relative;

    &::before,
    &::after {
        text-transform: none;
        font-size: 13px;
        line-height: 1;
        user-select: none;
        pointer-events: none;
        position: absolute;
        display: none;
        opacity: 0;

        @include respond-to(sm) {
            display: none !important;
        }
    }

    &::before {
        content: '';
        border: 5px solid transparent;
        z-index: 1000;
    }

    &::after {
        content: attr(tooltip);
        font-family: $f-light;
        font-size: 13px;
        line-height: 1;
        text-align: center;
        min-width: 3em;
        max-width: 21em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 1ch 1.5ch 1.2ch;
        border-radius: $border-radius;
        box-shadow: 0 1em 2em -8px rgba(0, 0, 0, 0.35);
        background: #333;
        color: #fff;
        z-index: 1000;
    }

    &:hover {

        &::before,
        &::after {
            display: block;
        }
    }

    &:not([flow])::before,
    &[flow^='up']::before {
        bottom: 100%;
        border-bottom-width: 0;
        border-top-color: #333;
    }

    &:not([flow])::after,
    &[flow^='up']::after {
        bottom: calc(100% + 5px);
    }

    &:not([flow]) {

        &::before,
        &::after {
            left: 50%;
            transform: translate(-50%, -0.5em);
        }
    }

    &[flow^='up'] {

        &::before,
        &::after {
            left: 50%;
            transform: translate(-50%, -0.5em);
        }
    }

    &[flow^='down'] {

        &::before {
            top: 100%;
            border-top-width: 0;
            border-bottom-color: #333;
        }

        &::after {
            top: calc(100% + 5px);
        }

        &::before,
        &::after {
            left: 50%;
            transform: translate(-50%, 0.5em);
        }
    }

    &[flow^='left'] {

        &::before {
            top: 50%;
            border-right-width: 0;
            border-left-color: #333;
            left: calc(0em - 5px);
            transform: translate(-0.5em, -50%);
        }

        &::after {
            top: 50%;
            right: calc(100% + 5px);
            transform: translate(-0.5em, -50%);
        }
    }

    &[flow^='right'] {

        &::before {
            top: 50%;
            border-left-width: 0;
            border-right-color: #333;
            right: calc(0em - 5px);
            transform: translate(0.5em, -50%);
        }

        &::after {
            top: 50%;
            left: calc(100% + 5px);
            transform: translate(0.5em, -50%);
        }
    }

    &:not([flow]):hover {

        &::before,
        &::after {
            animation: tooltips-vert 300ms ease-out forwards;
        }
    }

    &[flow^='up']:hover {

        &::before,
        &::after {
            animation: tooltips-vert 300ms ease-out forwards;
        }
    }

    &[flow^='down']:hover {

        &::before,
        &::after {
            animation: tooltips-vert 300ms ease-out forwards;
        }
    }

    &[flow^='left']:hover {

        &::before,
        &::after {
            animation: tooltips-horz 300ms ease-out forwards;
        }
    }

    &[flow^='right']:hover {

        &::before,
        &::after {
            animation: tooltips-horz 300ms ease-out forwards;
        }
    }
}

[tooltip=''] {

    &::before,
    &::after {
        display: none !important;
    }
}

@keyframes tooltips-vert {

    to {
        opacity: 0.9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {

    to {
        opacity: 0.9;
        transform: translate(0, -50%);
    }
}
