.footer {
    padding: 30px 0;
    background-color: $gray--lighten;
    position: relative;
    z-index: 11;

    &__logo {
        margin-bottom: 15px;
    } //.footer__logo

    &__info {
        margin-bottom: 30px;

        a {
            color: $color-text;
        }
    } //.footer__info

    .container {
        position: relative;
    }
} //.footer
